:root { 
--gray_600:#7f7f7f; 
--lime_500:#d7df23; 
--light_blue_300:#52c1ff; 
--blue_gray_100_33:#d4d9e833; 
--red_A200:#ff5252; 
--gray_900:#18191f; 
--red_800:#d61920; 
--red_500:#f74646; 
--orange_500:#ff9900; 
--orange_300:#ffba52; 
--gray_300:#e6e6e6; 
--gray_100:#f4f5f7; 
--black_900_66:#00000066; 
--black_900:#000000; 
--white_A700_01:#fefefe; 
--blue_400:#52acff; 
--blue_gray_900_01:#333545; 
--deep_purple_A200:#7552ff; 
--blue_gray_900:#2e2e2e; 
--pink_300:#ff5290; 
--white_A700:#ffffff; 
--red_A200_01:#f8464a; 
--red_500_01:#f84646; 
}